@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Prompt', 'Arial', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  background-image: url('/images/griid.png');
  background-size: cover;
  background-attachment: fixed;
}

@keyframes popIn {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  50% {
    transform: translateY(-65px); 
    opacity: 1;
  }
  100% {
    transform: translateY(0); 
  }
}

.card {
  animation: popIn 0.7s ease-out forwards;
}

